@import '../reset.css';
:root {
  /* Color */
  --purple-background: #8261ee;
  --purple-section: #f2f2fe;
  --pink-background: #ff589e;
  --white-background: #fff;
  --color-gray: rgb(148, 148, 148);
  --color-darkgray: rgb(82, 82, 82);
  --color-black: black;

  /* Font size */
  --font-size-small: 13px;
  --font-size-smallMedium: 16px;
  --font-size-medium: 20px;
  --font-size-mediumLarge: 30px;
  --font-size-large: 40px;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-heavy: 700;

  /* Border radius */
  --radius: 20px;
}

* {
  outline: none;
}

::selection {
  /* 모든 텍스트 및 이미지등이 마우스 포인터에 
  의해 선택됐을 때 */
  background-color: var(--pink-background);
  color: var(--white-background);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

/* .font-weight-heavy */

.font-weight-heavy {
  font-weight: var(--font-weight-heavy);
}

/* description */

.title__description {
  height: 200px;
}

.title__description h2 {
  font-size: var(--font-size-mediumLarge);
}

.title__description p {
  margin-top: 50px;
  line-height: 30px;
  font-size: var(--font-size-smallMedium);
  color: var(--color-gray);
}

.description {
  width: 80%;
  text-align: center;
}

.description h2 {
  margin: 10px auto;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  color: var(--color-black);
}

.description p {
  line-height: 20px;
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

/* purple-btn (About, Blog entries) */

.purple-btn {
  text-align: center;
  line-height: 40px;
  border: none;
  background-color: var(--purple-background);
  color: white;
  font-size: var(--font-size-small);
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: all 250ms ease-out;
}

.purple-btn:hover {
  background-color: var(--pink-background);
}

/* Navbar */

#navbar {
  background-color: var(--white-background);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  border-radius: calc(var(--radius) * 2);
  padding: 25px 0 25px 0;
  display: flex;
  position: fixed;
  right: 3%;
  left: 3%;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  max-width: 1140px;
}

.logo {
  display: flex;
  margin: 0 130px 0 0;
  justify-content: left;
}

.nav__content {
  display: flex;
  padding-left: 0.5em;
}

.nav__content li {
  padding: 0 20px 0 20px;
}

.nav__content li:nth-child(7) {
  padding: 0 0 0 20px;
}

.nav__item {
  color: var(--color-gray);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: 30px;
  transition: color 250ms linear;
}

.nav__item:hover {
  color: var(--pink-background);
}

.nav__item.selected {
  color: var(--pink-background);
}

/* Home */

.home__title {
  background-image: url('images/banner-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.home__title__content {
  color: var(--white-background);
  position: relative;
  justify-content: center;
  text-align: center;
  width: 650px;
  margin: auto;
}

.home__title__content h1 {
  font-size: var(--font-size-large);
  letter-spacing: 1.3px;
  line-height: 55px;
  margin-bottom: 35px;
}

.home__title__content p {
  font-size: var(--font-size-smallMedium);
  line-height: 30px;
  margin-bottom: 40px;
}

.home__btn {
  background-color: var(--pink-background);
  color: var(--white-background);
  outline: none;
  border: none;
  border-radius: var(--radius);
  padding: 14px 20px;
  transition: all 250ms ease-out;
}

.home__btn:hover {
  cursor: pointer;
  background-color: var(--purple-background);
}

.home__description {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: -220px 4% 0 4%;
  z-index: 3;
  width: inherit;
}

.home__description__content {
  margin: 30px 20px 30px 20px;
  width: 26%;
  height: 72%;
  background-color: var(--white-background);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  padding: 30px;
  cursor: pointer;
  max-width: 370px;
}

.home__description__content:hover .description__image {
  /* home__description을 hover하면 image div의
  background-color가 변경됨 */
  background-color: var(--pink-background);
}

.description__image {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  border-radius: 50px;
  width: 90px;
  height: 90px;
  background-color: var(--purple-background);
  transition: all 250ms linear;
}

.description__image img {
  padding-top: 20px;
}

.home__description h5 {
  margin-top: 25px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  color: var(--color-darkgray);
}

.home__description p {
  font-size: var(--font-size-smallMedium);
  font-weight: var(--font-weight-light);
  color: var(--color-gray);
  line-height: 25px;
}

/* About */

.about {
  position: relative;
  margin-top: 40px;
  width: 100%;
}

.about-discuss {
  border-bottom: 1px solid rgb(216, 216, 216);
}

.about-discuss,
.about-business {
  display: flex;
  padding: 80px 0;
  margin: 0 auto;
  width: 80%;
}

.about-discuss img,
.about-business img {
  width: 350px;
  height: 350px;
}

.about .title__description {
  width: 50%;
}

.about .title__description:nth-child(even) {
  margin-left: 27%;
}

.about .title__description:nth-child(odd) {
  margin-right: 27%;
}

/* Work Process */

.work-process {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}

.work-process::before {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: 0.95;
  background-image: url('images/work-process-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.work-process .title__description {
  padding-bottom: 20px;
  height: 100px;
}

.work-process .title__description h2,
.work-process .title__description p {
  color: white;
  text-align: center;
}

.work-process .title__description p {
  font-size: var(--font-size-smallMedium);
  margin-top: 30px;
}

.work-process .description {
  margin: auto;
}

.work-process .description h2 {
  font-size: var(--font-size-medium);
}

.work-process .description p {
  line-height: 23px;
  font-size: var(--font-size-small);
}

.work-process__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.work-process__item a {
  text-align: center;
}

.work-process__item img {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}

.work-process__item {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-background);
  border-radius: var(--radius);
  height: 190px;
  box-shadow: 10px 10px 0px rgb(255 255 255 / 10%);
  transition: all 250ms ease-out;
  margin: 10px;
  padding: 10px;
}

.work-process__item:hover {
  transform: translateY(-10px);
}

/* Testimonials */

.testimonials {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  background-color: var(--white-background);
  margin: auto;
  max-width: 1200px;
}

.testimonials .title__description {
  margin: 0 auto;
  width: 50%;
  height: 150px;
  text-align: center;
}

.testimonials .title__description p {
  margin-top: 30px;
  font-size: var(--font-size-smallMedium);
}

.testimonial__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.testimonial__card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 20px 0 20px 0;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 50px rgb(0 0 0 / 10%);
}

.testimonial__card > img {
  width: 32px;
  height: 32px;
}

.testimonial__card > p {
  line-height: 25px;
  margin: 30px 0;
  padding: 0 30px;
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.testimonial__person {
  display: flex;
  width: 80%;
}

.testimonial__person .description {
  margin: 0 60px 0 20px;
  text-align: left;
  transition: all 250ms ease-out;
}

.testimonial__card:hover .description {
  transform: translateX(15px);
}

.testimonial__person .description h2 {
  margin-top: 5px;
}

.testimonial__person .description p {
  color: var(--pink-background);
}

.testimonial__person img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* Pricing Tables */

.pricing-tables {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  background-color: var(--purple-section);
}

.pricing-tables .title__description {
  text-align: center;
  height: 150px;
  margin-bottom: 40px;
}

.pricing-tables .title__description p {
  margin-top: 30px;
}

.pricing-table-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.pricing-table {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 10px;
  padding: 30px;
  border-radius: 17px;
  box-shadow: 0 0 50px rgb(0 0 0 / 10%);
  background-color: var(--white-background);
}

.pricing-table h2 {
  padding-bottom: 30px;
  font-size: var(--font-size-medium);
}

.pricing-table ul {
  margin: 20px 0;
  text-align: center;
  color: var(--color-gray);
  font-size: var(--font-size-small);
}

.pricing-table li {
  padding: 10px 0;
}

li.cancel {
  text-decoration: line-through;
}

.monthly-box {
  text-align: center;
  padding: 30px 0 20px 0;
  width: 80%;
  border-radius: 20px;
  color: var(--white-background);
}

.pricing-table:nth-child(even) .monthly-box {
  background-color: var(--pink-background);
}

.pricing-table:nth-child(odd) .monthly-box {
  background-color: var(--purple-background);
}

.monthly-box h1 {
  margin-bottom: 10px;
  font-size: var(--font-size-mediumLarge);
}

/* counting */

.counting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.counting::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 140%;
  background-image: url('images/fun-facts-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  top: -60px;
  z-index: -1;
}

.counting img {
  margin: 0 6%;
}

/* 잘 모르겟다 ㅠㅠㅠ 왜 안되지.. */
.counting img:nth-child(2),
.counting img:nth-child(6) {
  margin-top: 30px;
}

.count {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
  color: var(--white-background);
  transition: all 250ms ease-out;
}

.count:hover {
  transform: translateY(-10px);
}

.count h1 {
  margin: 20px 0;
  font-size: var(--font-size-large);
}

/* Blog Entries */

.blog-entries {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.blog-entries .title__description {
  width: 50%;
  height: 170px;
}

.blog-entries .title__description p {
  margin-top: 30px;
  line-height: 25px;
  font-size: var(--font-size-smallMedium);
}

.entry-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 98%;
}

.entry {
  text-align: center;
  padding-left: 20px;
  margin: 40px 30px 40px 30px;
  width: 330px;
}

.entry:nth-child(1) {
  padding-left: 0;
}

.entry .blog-img {
  overflow: hidden;
  border-radius: var(--radius);
  width: 330px;
  height: 200px;
  margin: auto;
}

.entry .description {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.entry .description a {
  font-size: var(--font-size-medium);
  color: var(--color-black);
  transition: all 250ms ease-out;
}

.entry .description a:hover {
  color: var(--pink-background);
}

.entry .description p {
  line-height: 25px;
  margin-top: 25px;
}

.entry .purple-btn {
  padding: 14px 20px 14px 20px;
}

/* Contact Us */

.contact-us {
  background-color: var(--purple-section);
  width: 100%;
  padding: 150px 0 150px 0;
}

.contact-us .title__description {
  text-align: center;
  width: 50%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.contact-us .title__description p {
  margin-top: 30px;
}

.contact-box {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  max-width: 1150px;
}

.contact-box .description {
  text-align: left;
  width: 38%;
  height: 100%;
}

.contact-box .description h2 {
  margin-bottom: 30px;
}

.contact-box .description p {
  line-height: 30px;
  margin-bottom: 20px;
  font-size: var(--font-size-small);
  color: #6f8ba4;
}

.contact-box .contact-form {
  display: flex;
  flex-flow: column;
  justify-content: right;
  padding: 0 10px 0 10px;
}

.input {
  display: flex;
  justify-content: space-evenly;
}

#input-name,
#input-email,
#msg {
  border: 1px solid #eee;
  font-size: var(--font-size-small);
  outline: none;
  resize: none;
  border-radius: 25px;
  transition: all 250ms ease-out;
}

#input-name:focus,
#input-email:focus,
#msg:focus {
  border: 1px solid rgb(30, 135, 255);
  box-shadow: 0px 0px 5px rgb(68, 155, 255);
}

#input-name,
#input-email {
  padding: 5px 15px 5px 15px;
  display: inline-block;
  width: 45%;
  height: 40px;
}

#input-name {
  margin-right: 15px;
}

#input-email {
  margin-left: 15px;
}

#msg {
  font-family: 'Malgun Gothic';
  margin: 30px 0 30px 0;
  padding: 20px;
  width: 95%;
  height: 100px;
}

.contact-form .purple-btn {
  cursor: pointer;
  width: 140px;
  height: 45px;
}

/* Footer */

.footer {
  background: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  width: 100%;
  height: 180px;
}

.icons {
  padding-top: 40px;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.icons ul {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.icons li {
  margin: 0 10px;
}

.icons a {
  display: inline-block;
  text-align: center;
  color: #a759d1;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  background-color: var(--white-background);
  transition: all 250ms ease-out;
}

.icons a:hover {
  color: var(--white-background);
  background-color: var(--pink-background);
}

footer p {
  padding-top: 25px;
  text-align: center;
  color: var(--white-background);
  font-size: var(--font-size-small);
  letter-spacing: 0.3px;
}

/* Responsible web */

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .home__description__content {
    width: inherit;
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-discuss,
  .about-business {
    flex-flow: column;
  }

  .about img {
    margin: 0 auto;
  }

  .about .title__description {
    width: 100%;
  }

  .about .title__description:nth-child(odd) {
    margin: 0 0 50px 0;
  }

  .about .title__description:nth-child(even) {
    margin: 50px 0 0 0;
  }

  .testimonial__card {
    width: 100%;
  }

  .testimonials .title__description {
    height: 250px;
  }

  .testimonial__person {
    margin-right: 10%;
  }

  .pricing-table {
    width: 100%;
  }

  .counting img {
    display: none;
  }

  .count {
    width: 100%;
    padding: 30px;
  }

  .entry {
    padding-left: 0;
  }

  .contact-box {
    flex-flow: column;
  }

  .contact-box .description {
    width: 100%;
    padding: 0 30px;
    margin: 30px 0;
  }
}
/* 576px ~ 767px */

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .home__description__content {
    width: 300px;
  }

  .testimonial__card {
    width: 350px;
  }

  .testimonials .title__description {
    height: 200px;
  }

  .testimonial__person {
    margin-right: 0;
  }

  .about-discuss,
  .about-business {
    flex-flow: column;
    justify-content: center;
  }

  .about .title__description {
    width: 100%;
    text-align: center;
  }

  .about .title__description h2 {
    margin: 0 auto;
  }

  .about .title__description:nth-child(odd) {
    margin: 0 0 50px 0;
  }

  .about .title__description:nth-child(even) {
    margin: 50px 0 0 0;
  }

  .count {
    width: 40%;
    padding: 30px;
  }

  .entry {
    padding-left: 20px;
  }

  .contact-box {
    flex-flow: inherit;
  }

  .contact-box .description {
    width: 38%;
    margin: 0;
  }

  .contact-box .contact-form {
    margin: 0;
    width: 62%;
  }
}
/* 768px ~ 991px */

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .home__description__content {
    width: 300px;
  }

  .about-discuss,
  .about-business {
    flex-flow: inherit;
  }

  .about .title__description {
    text-align: left;
  }

  .about .title__description:nth-child(odd) {
    margin-right: 27%;
    margin-bottom: 0;
  }

  .about .title__description:nth-child(even) {
    margin-left: 27%;
    margin-top: 0;
  }
}
/* 992px ~ 1199px */

@media screen and (min-width: 1200px) {
  .nav__item {
    font-size: 12px;
  }

  .container {
    max-width: 1140px;
  }

  .home__description__content {
    max-width: 360px;
  }

  .about-discuss img,
  .about-business img {
    width: 350px;
    height: 350px;
  }

  .pricing-table-box {
    max-width: 1200px;
  }

  .pricing-table {
    width: 300px;
    margin: 10px;
  }

  .pricing-table {
    width: 300px;
  }

  .counting img {
    display: inline-block;
  }

  .count {
    width: 30px;
    margin: 130px auto;
  }
}
/* 1200px~ */
